@import 'bits';

/* CSS Document */

/* ----------------------------------------------- LANDING PG --- */
.post-listing {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: flex-start;
align-items: center;
}

.post-listing .post-item {
margin: 0 1.5% 1em;
width: 45%;
background: #fff;
box-shadow: 0 2px 20px #ccc;
transition: 0.3s;
position: relative;
}

.btn.blog-listing-edit {
position: absolute;
-moz-border-radius: 0;
-webkit-border-radius: 0;
border-radius: 0;
padding: 0.75em 1.25em;
}

/*
.blogListing .views-row:hover {
box-shadow: 0 10px 30px #333;
transform: scale(1.05);
background: #414141;
color: #fff;
}
*/

@media (max-width: 780px) {
.blogListing .views-row {
margin: 0 0 1em;
width: 49%;
}

.blogListing .views-row-first {
width: 100%;
}

.blogListing .views-row-even {
margin-right: 1.25%;
}
}

@media (max-width: 520px) {
.blogListing .views-row,
.blogListing .views-row-even {
margin: 0 0 1em;
width: 100%;
}
}

.blogListing h2 {
font-size: 1.25em;
font-weight: 700;
padding: 0 0.7em;
}

.blogListing .views-row h2 a {
color: #e1cd83;
}

.blogListing .views-row h2 a:hover {
color: #666;
}

.blogListing .views-field-field-article-categories {
font-size: 0.8rem;
color: #888;
font-style: italic;
padding: 1em;
display: table;
}

.blogListing .views-field-field-article-categories .field-content {
display: table-cell;
vertical-align: middle;
}


.blogListing .views-field-field-article-header-image {
font-size: 0;
overflow: hidden;
}

.blogListing .views-field-field-article-header-image img {
transition: 0.3s;
width: 100%;
}

.blogListing .views-field-field-article-header-image:hover img {
-webkit-filter: blur(2px); 
-moz-filter: blur(2px); 
-o-filter: blur(2px); 
-ms-filter: blur(2px); 
filter: blur(2px);
-ms-transform: scale(1.25);
-webkit-transform: scale(1.25);
transform: scale(1.25);
}

.blogListing .views-field-created-3 {
font-size: 0.9rem;
margin: 2em 1em 0 !important;
color: #aaa;
font-weight: normal;
}

.articleText {
font-size: 0.9em;
padding: 0 1em 2em;
border-bottom: 1px solid #eee;
}

.blogListing .views-field-view-node a {
display: block;
padding: 1em;
font-family:"museo-slab";
font-size: 0.9em;
transition: 0.3s;
}

.blogListing .views-row:hover .views-field-view-node a {
color: #15b9de;
}

.blogListing .views-field-view-node a:hover,
.blogListing .views-row:hover .views-field-view-node a:hover {
color: #e1cd83;
background: #414141;
}


/* --------------------------------------------- SIDEBAR -- */
.blogCategories .views-row + .views-row {
//margin-top: 0.5em;
border-top: 1px solid #ccc;
}

.blogCategories .views-row a {
display: block;
padding: 0.5em;
transition: 0.2s;
}

.blogCategories .views-row a:hover {
background: #414141;
color: #e1cd83;
font-weight: 500;
border-left: 0.5em solid #067ba5;
border-left: 0.5em solid #e1cd83;
}

