@import 'bits';

/* CSS Document */

/* ----------------------------------------------- LANDING PG --- */
.post-listing {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: flex-start;
align-items: stretch;
}

.post-listing .post-item {
margin: 0 1.5% 1em;
width: 30%;
background: #fff;
box-shadow: 0 2px 20px #ccc;
transition: 0.3s;
position: relative;
padding-bottom: 4em;
}

.post-item-link {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 5;
}

.btn.blog-listing-edit {
	position: absolute;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	padding: 0.75em 1.25em;
	z-index: 6;

	&:hover {
		color: #fff;
		background: $blue;
	}
}

.post-listing .post-item:hover {
	box-shadow: 0 10px 30px #777;
	transform: scale(1.05);
	background: $blue;
	color: #fff;

	h2 {
		//color:$gold;
	}

	.blog-article-more {
		background: #313131;
		color: $blue;
	}

	.blog-listing-meta {
		color: #fff;
	}
}

.post-item-content {
	padding: 1.5em;
}

.post-listing .post-item h2 {
font-size: 1.5em;
line-height: 1.25;
font-weight: 700;
margin: 0 0 0.25em;
text-transform: uppercase;
}

.post-listing .post-item h2 a {
color: #e1cd83;
}

.post-listing-thumb {
font-size: 0;
overflow: hidden;
}

.post-listing .post-item img {
transition: 0.3s;
width: 100%;
}

.post-listing .post-item:hover img {
-webkit-filter: blur(2px); 
-moz-filter: blur(2px); 
-o-filter: blur(2px); 
-ms-filter: blur(2px); 
filter: blur(2px);
-ms-transform: scale(1.25);
-webkit-transform: scale(1.25);
transform: scale(1.25);
}

.blog-listing-meta {
font-size: 0.9rem;
margin-bottom: 2em;
color: #aaa;
font-weight: normal;
}

.post-item-article-text {
//	margin-bottom: 2em;
}

.blog-article-more {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	text-align: center;
	padding: 1em;
	font-family:"museo-slab";
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	background:$gold;
	color: #fff;
	transition: 0.3s;
}


/* --------------------------------------------- SIDEBAR -- */
.blogCategories .views-row + .views-row {
//margin-top: 0.5em;
border-top: 1px solid #ccc;
}

.blogCategories .views-row a {
display: block;
padding: 0.5em;
transition: 0.2s;
}

.blogCategories .views-row a:hover {
background: #414141;
color: #e1cd83;
font-weight: 500;
border-left: 0.5em solid #067ba5;
border-left: 0.5em solid #e1cd83;
}

