@import 'bits';

/* CSS Document */

/* ----- GOOGLE FONT FAMILIES ----- */
/*
font-family: 'Oswald', sans-serif;
font-family: 'Lora', serif;
*/


/* ----- Reset all CSS ----- */
  
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, fieldset, form, label, legend, caption, tbody, tfoot, thead { 
	margin: 0;
	padding: 0; 
	outline: 0; 
	border: 0; 
	background: transparent; 
	vertical-align: baseline; 
	font-weight: inherit; 
	font-style: inherit; 
	font-size: 100%; 
	font-family: inherit; 
}


/* ----- CORE STYLES ----- */
:root {
font-size: 18px;
line-height: 1.75;
letter-spacing: 2px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
overflow-x: hidden;
-webkit-text-size-adjust: none;
}

body {
color: #3b3b3b;
//background: #797c8b;
font-weight: 100;
margin: 0;
font-family: 'Oswald', sans-serif;
//font-family: 'Lora', serif;

}

p {
margin-top: 0;	
}

::-moz-selection {
background: #22aba6; /* Firefox */
}

a {
color: $gold;
text-decoration: none;
transition: color .3s;
-moz-transition: color .3s;
-webkit-transition: color .3s;
}

a:hover {
color: $blue;
}

.btn {
	color: #fff; 
	background:$gold;
	display: inline-block;
	line-height: 1;
	padding: 1em 2em;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.views-field-edit-node a {
position: absolute;
background: #067ba5;
color: #fff;
padding: 5px 5px;
}

.views-field-edit-node a:hover {
background: #15b9de;
}

h1,
h2,
h3 {
font-family: 'Oswald', sans-serif;
font-family: 'Lora', serif;
letter-spacing: 2px;
font-weight: 700;
line-height: 1.5em;
font-weight: bold;
color: #333;
margin-bottom: 0.5em;
}

h1,
#page-title {
font-size: 3rem;
line-height: 1em;
font-weight: normal;
padding: 0;
text-transform: uppercase;
//font-family: 'Lora', serif;
}

h2 {
font-size: 2rem;
}

h3 {
font-size: 1.5rem;
}

img {
max-width: 100%;
height: auto !important;
}


/* ----- OVERALL ----- */
.pageWrap {
max-width: 1320px;
margin: 0 auto;
}


/* --------------------------------------------- TAGLINE?SOCIAL -- */
.tagline-social-wrap {
background: #333;
padding: 0 1.5em;
}

.tagline-social {
font-family: 'Oswald', sans-serif;
font-weight: 100;
position: relative;
max-width: 1320px;
margin: 0 auto;
padding: 0.75em 0;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
}

.tagline {
font-size: 0.8em;
letter-spacing: 1px;
color: #aaa;
//color: #b59b39;
}


/* ----------------------------------------------- SOCIAL --- */
.social a {
font-size: 1.125em;
margin: 0 0.25em;
color: #aaa;
//color: #b59b39;
}


.socialBehance:hover { color: #1769FF; }
.socialVimeo:hover { color: #1ab7ea; }
.social-youtube:hover { color: #CD201F; }
.socialTwitter:hover { color: #55acee; }
.socialFacebook:hover { color: #3b5998; }
.socialLinkedin:hover { color: #0077b5; }
.socialPinterest:hover { color: #cc2127; }
.socialGoogle:hover { color: #db4437; }
.socialInstagram:hover { color: #3f729b; }
.socialDribble:hover { color: #ea4c89; }
.socialCodepen:hover { color: #fff; }


/* --------------------------------------------- HEADER -- */
.hdr-logo-contact-wrap {
font-family: 'Oswald', sans-serif;	
padding: 0 1.5em;
}

.hdr-logo-contact,
.hdr-contact-info,
.hdr-loc,
.hdr-phone {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;	
}

.hdr-logo-contact-wrap img {
width: 35px;	
}

.hdr-logo-contact {
max-width: 1320px;	
margin: auto;
padding: 2em 0;
}

.logo-name {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;	
}

.hdr-logo-contact-wrap .site-logo img {
width: 100px;	
transition: 0.2s;
}

.site-logo img:hover {
transform:rotate(20deg) scale(1.2);
-moz-transform:rotate(20deg) scale(1.2);
-webkit-transform:rotate(20deg) scale(1.2);
}

.site-logo-company {
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-items: flex-start; 
padding-left: 1em;
line-height: 1.25;
font-weight: 800;
letter-spacing: 1px;
}

.site-logo-company-tag {
font-weight: 100;    
font-size: 0.9em;
color: #aaa;
}

/* ----- CONTACT INFO ----- */
.hdr-contact-info {
font-size: 0.9em;    
}

.hdr-contact-info div {
margin: 0 0.5em;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: stretch;
//box-shadow: 2px 2px 5px #ccc;
}

.hdr-loc-icn,
.hdr-phone-icn {
//background: #92decd;
//padding: 0.5em;
line-height: 0;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
}

.hdr-loc-icn img,
.hdr-phone-icn img {
width: 30px;    
}

.hdr-loc-text,
.hdr-phone-text {
padding: 0 1em;  
color: #313131;
letter-spacing: 0.75px;
}

.hdr-contact-info span {
display: block;  
font-weight: 100;
color: #aaa;
}


/* --------------------------------------------- FEATURE -- */
.header-wrap-outer {
background: #fff url(/wp-content/themes/tjrogersdesign/images/hp-hdr-hero.jpg) top center no-repeat;
background-size: cover;
position: relative;
padding: 0 1.5em;
}

.feature-area {
max-width: 1320px;
margin: auto;
//color: #fff;
min-height: 500px;
padding: 14em 0 4em;
}

.feature-statement {
	max-width: 60%;
	font-size: 3rem;
	font-weight: 900;
	text-transform: uppercase;
	font-family: "Oswald";
	font-family: sans-serif;
	position: relative;
	z-index: 3;
	text-shadow: 0 0 ;
	font-family: 'Lora', serif;
}
							
span.statement-sect-2 {
display: block;
font-size: 0.65em;
line-height: 1.2em;
font-weight: 100;
font-family: "Oswald";
}

.feature-area .btn {
	margin-top: 2em;	
	background: #00B2CA;

	&:hover {
		background: #23C9FF;
		color: #fff;
	}
}


/* ---------- CONTENT ---------- */
.contentWrap {
max-width: 1440px;
padding: 4em 1.5em;
margin: 0 auto 3em;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: flex-start;
}

.content-area.has-sidebar {
width: 66.6%;
}

.sidebar-area {
width: 33.3%;
padding-left: 2em;
}


.content-area p + p,
.sidebar-area p + p,
.footer p + p,
.prefooter * + p,
.content-bottom * + p {
margin-top: 1em;
}


/* ----- CONTENT BOTTOM ----- */
.content-bottom {
max-width: 1320px;
margin: 0 auto;
}



/* ---------- FOOTER ---------- */
.footer-wrap {
	background: #333;
}

.footer-wrap p + p {
	margin-top: 1em;
}

.footer {
position: relative;
max-width: 1320px;
padding: 4em 0;
margin: auto;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
align-items: stretch;
}

.footer-sect {
width: 33%;
padding: 0 1.5em;
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: stretch;
align-items: center;
}


/* ----- Bio ----- */
.footer-about {
color: #fff;
font-weight: 100;
letter-spacing: 1px;
}


/* --------------------------------------------- FOOTER CONTACT -- */
/* ----- CONTACT INFO ----- */
.footer-contact-info {
font-size: 0.9em;    
}

.footer-contact-info .site-logo img {
width: 100px;	
transition: 0.2s;
}

.footer-contact-info div {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: flex-start;
align-items: center;
width: 100%;
}

.footer-about {
	font-size: 0.85em;
}

.footer-about .logo-name {
	width: 100%;
	justify-content: flex-start;	
}

.footer-about .site-logo {
	width: 100px;
}

.footer-loc {
	margin-top: 1.5em;
}

.footer-loc-icn,
.footer-phone-icn {
padding: 0.5em;
line-height: 0;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
}

.footer-loc-icn img,
.footer-phone-icn img {
width: 30px;    
}

.footer-loc-text,
.footer-phone-text {
padding: 0 1em;  
color: #fff;
letter-spacing: 0.75px;
}

.footer-contact-info span {
display: block;  
font-weight: 100;
}


/* ----------------------------------------------- COPYRIGHT --- */
.copyrightWrapOuter {
//background: #1e212a;
border-top: 1px solid #ccc;
}

.copyrightWrap {
max-width: 1420px;
margin: 0 auto;
}

.copyright,
.crQuote {
font-size: 0.75em;
font-family: "Oswald", sans-serif;
letter-spacing: 1px;
display: inline-block;
vertical-align: top;
width: 45.5%;
padding: 1.5em;
}

.crQuote {
text-align: right;
}


