@import 'bits';

/* CSS Document */


/* ----------------------------------------------- COMMON STYLES --- */
/* ----- Subheader ----- */
.not-front .headerWrapOuter {
height: 400px;
}

.subHeader {
padding-top: 150px;
}

@media (max-width: 620px) {
.not-front .header {
padding-top: 1em;
}

.not-front .myName {
font-size: 2.25rem;
}

.not-front .myTag {
font-size: 1.5rem;
}
}

#block-block-4 {
margin-left: -820px;
}


/* ----- Page Title ----- */
.not-front #page-title {
margin-bottom: 1em;
text-align: center;
}


/* ----------------------------------------------- CONTACT --- */
/* ----- Contact Form ----- */
.nf-form-cont .nf-field-element {
position: relative;
margin: 0 0.5em 1em;
transition: 0.3s;
}

.nf-form-cont .nf-field-element input,
.nf-form-cont .nf-field-element textarea {
box-shadow: 0 2px 15px 2px #ddd;
}

.nf-form-cont .nf-field-element input,
.nf-form-cont .nf-field-element textarea {
padding: 20px 0 20px 18%;
width: 100%;
border: none;
background: none;
font-size: 0.8em;
line-height: 1;
font-weight: 300;
transition: 0.3s;
}


/* ----- CHECKBOX & RADIO LIST ----- */
.nf-form-cont .nf-row:nth-child(3) nf-cells {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	margin: 2em 0 3em;
}

.nf-form-cont .nf-row:nth-child(3) .nf-cell {
	width: 48% !important;
	padding: 0 1em;
}

.nf-form-cont .nf-field-element li {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	font-size: 0.9em;
	margin-top: 3em !important;
}

.nf-form-cont .nf-field-element input[type='checkbox'],
.nf-form-cont .nf-field-element input[type='radio'] {
	padding: 0.75em;
	-webkit-appearance: none;
	margin-right: 1em;
	position: relative;
}

.nf-form-cont .nf-field-element input.nf-checked[type='checkbox'],
.nf-form-cont .nf-field-element input.nf-checked[type='radio'] {
	background: $blue;
} 

.nf-form-cont .nf-field-element input.nf-checked:before {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
padding: 0.75em;
color: #fff;
font-family: FontAwesome;
z-index: 5;
content: "\f00c"; 
}

.nf-form-cont .nf-field-element input[type='radio'] {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.nf-form-cont .nf-field-element input.nf-checked[type='radio'] {
//	background: $gold;
}

.nf-form-cont .nf-field-element input.nf-checked[type='radio']:before {
	content: "\f111"; 
	font-size: 0.5em;
} 

.nf-form-cont .nf-field-element textarea {
padding-left: 9%;
padding-top: 1.5em;
}

.nf-form-cont .nf-field-element:before,
.nf-form-cont .email-container .nf-field-element:before,
.nf-form-cont .textarea-container .nf-field-element:before {
position: absolute;
top: 0;
left: 0;
padding: 0.75em 1em;
background: #e1cd83;
background: #797c8b;
color: #fff;
font-family: FontAwesome;
z-index: 5;
}

.nf-form-cont .textbox-container .nf-field-element:before {
content: "\f007"; 
}

.nf-form-cont #nf-field-12-wrap .nf-field-element:before {
content: "\f095";
}

.nf-form-cont .email-container .nf-field-element:before {
content: "\f0e0";
padding: 0.75em 0.9em;
}

.nf-form-cont #nf-field-13-container .nf-field-element:before {
content: "\f0c0";
padding: 0.75em 0.9em;
}

.nf-form-cont .textarea-container .nf-field-element:before {
content: "\f0e6";
padding: 1.25em 1.35em;
font-size: 0.8em;
}

.nf-form-cont .submit-wrap input {
position: relative;
display: inline-block;
font-size: 1rem;
//color: #fff;
background: none;
padding: 0.75em 2.5em;
text-decoration: none;
border: 3px solid #414141;
transition: .3s;
-moz-transition: .3s;
-webkit-transition: .3s;
-webkit-appearance: none;
font-family:"museo-slab";
}

.nf-form-cont .submit-wrap input:hover {
cursor: pointer;
background: #444;
color: #e1cd83;
padding: 0.75em 4em 0.75em 1em;
}

.nf-form-cont .submit-wrap .nf-field-element {
	width: auto;
	position: relative;
	overflow: hidden;
}

.nf-form-cont .submit-wrap .nf-field-element:after {
font-family: FontAwesome;
font-weight: normal;
font-style: normal;
right: -2em;
top: 50%;
transform: translateY(-50%);
content: "\f0e0";
color: #e1cd83;
position: absolute;
transition: 0.2s;
pointer-events: none;
}

.nf-form-cont .submit-wrap .nf-field-element:hover:after {
right: 1.5em;
}


/* ----- CONTACT SOCIAL ----- */
.contact-social-card {
	//box-shadow: 1px 1px 15px #ccc;
	padding: 1.25em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;

	.contact-sc-icon,
	.contact-sc-text {
		// width: 50%;
	}

	.contact-sc-icon {
		padding-right: 1em;
	}

	i {
		font-size: 2em;
	}

	.sc-text-main,
	.sc-text-tag {
		margin: 0;
		line-height: 1.5;
	}

	.sc-text-main {
		font-weight: 700;
		text-transform: uppercase;
	}

	.sc-text-tag {
		font-size: 0.9em;
		color: #777;
	}
}

.contact-social-card-odd {
	background: #f7f7f7;
}

.contact-social-card + .contact-social-card {
	//margin-top: 1.5em;
}



/* ----------------------------------------------- ABOUT --- */
.aboutBio .aboutBioStory {
width: 55%;
}

@media (max-width: 900px) {
.aboutBio .aboutBioStory {
width: 100%;
margin-bottom: 2em;
}
}

.aboutBio img.fltRight {
position: absolute;
bottom: -6.25em;
right: -150px;
z-index: -1;
-moz-transform: scaleX(-1);
-o-transform: scaleX(-1);
-webkit-transform: scaleX(-1);
transform: scaleX(-1);
}

@media (max-width: 900px) {
.aboutImg {
font-size: 0;
line-height: 0;
text-align: center;
}

.aboutBio img.fltRight {
position: static;
float: none;
margin: 0;
}
}


/* ----------------------------------------------- Code & RWD --- */
.page-node-2 .contentBottom p {
font-family:"effra";
font-weight: 500;
}

.toolsTrade {
padding: 5em 2em 3em;
}

@media (max-width: 680px) {
.toolsTrade {
padding: 4em 2em 1em;
}
}

.toolsTrade span,
.toolsTrade p {
font-weight: 100 !important;
}

.toolsResponsive,
.toolsCodeWriting {
padding: 6em 2em 5em;
}

.toolsResponsive {
background: #222 url(/sites/all/themes/tjr/global-images/bkd-coding.jpg) bottom center fixed no-repeat;
color: #fff;
padding-bottom: 1em;
}

.toolsCodeWriting {
background: #222 url(/sites/all/themes/tjr/global-images/bkd-drupal.jpg) bottom right no-repeat;
color: #fff;
position: relative;
}

.toolsCodeWriting:before {
position: absolute;
top: 0;
left: 0;
content: '';
width: 100%;
height: 100%;
//background: #000;
}

.toolsDrupal {
background: #a4d947 url(/sites/all/themes/tjr/global-images/bkd-cms.jpg) center center no-repeat;
background: #a4d947;
color: #466c06;
}

.toolsSkillset {
background: #ebc52b;
background: #5de0e5;
color: #cbfcfe;
}

.toolsResponsive h2 {
color: #4DC4EE;
}

.toolsCodeWriting h2 {
color: #5de0e5;
}

.toolsDrupal h2 {
color: #466c06; 
}

.toolsSkillset h2,
.toolsSkillset h3 {
color: #fff;
}

.toolsTrade .content {
max-width: 1120px;
margin: 0 auto;
}

.toolsTrade h2 {
line-height: 1.2em;
}

.toolsImg,
.toolsDesc {
display: inline-block;
vertical-align: middle;
}

.toolsImg {
width: 70%;
}

.toolsDesc {
width: 100%;
}

.toolsCms h2 {
margin-bottom: 1em;
}

.toolsDesc p {
font-size: 1.125em;
}

.toolsCms p {
font-size: 1.25em;
}

@media (max-width: 1050px) {
.toolsResponsive,
.toolsCodeWriting {
padding: 6em 5em 5em;
}

.toolsResponsive {
padding-bottom: 1em;
}

.toolsImg,
.toolsDesc {
width: 100%;
}

.toolsResponsive .toolsImg,
.toolsCodeWriting .toolsImg {
margin-top: 3em;
text-align: center;
}
}

@media (max-width: 680px) {
.toolsResponsive,
.toolsCodeWriting {
padding: 2.5em 2em 3.5em;
}

.toolsResponsive {
padding-bottom: 0;
}
}


/* ----------------------------------------------- DRUPAL SECTION --- */
.toolsDrupal .toolsDesc,
.toolsDrupal .toolsImg {
vertical-align: middle;
}

.toolsDrupal .toolsDesc {
width: 100%;
margin-bottom: 3em;
}

.toolsDrupal .toolsDesc p {
display: inline-block;
width: 50%;
}

@media (max-width: 1050px) {
.toolsDrupal .toolsDesc p {
width: 100%;
}
}

.toolsDrupal .toolsImg {
margin-bottom: 1em;
}

.toolsDrupal .toolsImg i {
font-size: 6rem;
color: #466c06; 
margin-left: 0.25em;
}

.toolsDrupal .toolsDesc,
.toolsDrupal .toolsImg {
display: inline-block;
}

.toolsDrupal .content,
.toolsDrupal .content {
text-align: center;
}

.toolsPro {
display: inline-block;
vertical-align: top;
width: 30%;
}

@media (max-width: 1050px) {
.toolsPro {
width: 45%;
}
}

@media (max-width: 880px) {
.toolsPro {
width: 40%;
text-align: left;
padding: 0 30%;
}

.scalability {
margin-top: 2em;
}
}

@media (max-width: 790px) {
.toolsPro {
width: 50%;
text-align: left;
padding: 0 25%;
}
}

.toolsPro p,
.toolsPro h3 {
display: inline-block;
vertical-align: top;
color: #466c06;
}

.toolsPro i {
font-size: 4rem;
width: 45%;
margin-right: 0.25em;
}

.toolsPro h3 {
text-align: left;
line-height: 1em;
}

@media (max-width: 640px) {
.toolsPro {
width: 100%;
text-align: center;
padding: 0;
}

.toolsPro p,
.toolsPro h3 {
display: block;
text-align: center;
}

.toolsPro i {
display: none;
}
}

.toolsPro span {
display: block;
margin-bottom: 0.25em;
color: #466c06;
}


/* --------------------------------------------- SKILLS SECTION -- */
.toolsSkillset {
//padding: 2em;
}

.toolsSkillset .toolsDesc {
width: 100%;
text-align: center;
}

.toolsSkillset h2 {
text-align: center;
position: relative;
padding-bottom: 0.5em;
margin-bottom: 1.5em;
}

.toolsSkillset h3,
.toolsSkillset p {
margin: 0;
}

.toolsSkillset h2:before {
position: absolute;
top: 0;
left: 50%;
margin-left: -30px;
content: '';
width: 60px;
height: 100%;
border-bottom: 10px solid #26a9bc;
}

.sectSkills {
display: inline-block;
vertical-align: top;
width: 46%;
padding: 1em;
}

.skill {
text-align: left;
position: relative;
padding-left: 4.5em;
}

.skillIcon {
position: absolute;
top: 0;
left: 0;
}

.skillIcon img {
width: 60px;
height: auto;
}

.skill + .skill {
margin-top: 2em;
}



/* ----------------------------------------------- WORK --- */
.page-node-3 .headerWrapOuter {
background: #000 url(/sites/all/themes/tjr/global-images/bkd-feat-work.jpg) top center fixed no-repeat;
background-size: cover;
}


/* --------------------------------------------- COMMENTS -- */
* + .livefyreComment {
margin-top: 3em;
box-shadow: 1px 0 3px #ccc;
padding: 1em;
background: #fff;
}

.livefyreComment .fyre-stream-stats {
background: #ccc;
padding: 0.5em 1em;
margin: -1.125em -1.125em 0;
}

.livefyreComment .fyre-auth .fyre-login-bar,
.livefyreComment .fyre-auth .fyre-live-container {
//float: none !important;
}

.livefyreComment .fyre-login-bar .fyre-user-loggedout,
.livefyreComment .fyre-login-bar .fyre-user-loggedout:hover {
border: 3px solid #555;
padding: 0.5em 1em;
transition: 0.3s;
}

.livefyreComment .fyre-login-bar .fyre-user-loggedout:hover {
color: #fff;
color: #e1cd83;
background: #15b9de;
background: #e1cd83;
background: #414141;
}

.livefyreComment .fyre-editor,
.livefyreComment .fyre-editor-container,
.livefyreComment #fyre-editor-3,
.livefyreComment .fyre-editor iframe {
-moz-border-radius: 0 !important;
-webkit-border-radius: 0 !important;
border-radius: 0 !important;
background: none !important;
border: none !important;
box-shadow: none;
}


.livefyreComment .fyre-editor {
margin-top: 100px;
box-shadow: 0 0 5px #ccc;
background: #f7f7f7 !important;
}









