
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=adb1b2c017ad69745b4f61d80ce9596a
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress