
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=ce3061f49777db7bd787f98174799ad2
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress