
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=06fa3b8ab0dcb0311b5694a1a082246f
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress